<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">CG Budgeting</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</div>
		<!-- nav links for Incomes -->
		<div class="nav-item px-3">
			<NavLink class="nav-link" @onclick="() => expandIncomesNav = !expandIncomesNav">
				<span class="oi oi-dollar" aria-hidden="true" style="color:green"></span> Incomes
			</NavLink>
			@if (expandIncomesNav)
			{
				<NavLink class="nav-link" href="incomehistorypage">
					<MudIcon Icon="@Icons.TwoTone.Circle" />  Income History
				</NavLink>
				<NavLink class="nav-link" href="incomespage">
					<MudIcon Icon="@Icons.TwoTone.Circle"/>  Current Incomes
				</NavLink>
			}
		</div>
		<!-- nav links for Expenses -->
		<div class="nav-item px-3">
			<NavLink class="nav-link" @onclick="() => expandExpensesNav = !expandExpensesNav">
				<span class="oi oi-dollar" style="color:red" aria-hidden="true"></span> Expenses
			</NavLink>
			@if (expandExpensesNav)
			{
				<NavLink class="nav-link" href="expensehistorypage">
					<MudIcon Icon="@Icons.TwoTone.Circle" />  Expense History
				</NavLink>
				<NavLink class="nav-link" href="expensespage">
					<MudIcon Icon="@Icons.TwoTone.Circle"/>  Current Expenses
				</NavLink>
			}
		</div>
		<!-- nav link for Bank Accounts -->
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="bankaccountspage">
				<span class="oi oi-credit-card" aria-hidden="true"></span> Bank Accounts
			</NavLink>
		</div>
		<!-- Expandable nav button for types used by incomes and expenses -->
		<div class="nav-item px-3">
			<NavLink class="nav-link" @onclick="() => expandSubNav = !expandSubNav">
				<span class="oi oi-plus" aria-hidden="true"></span> Type data
			</NavLink>
			@if (expandSubNav)
			{
				<NavLink class="nav-link" href="bankaccounttypespage">
					<MudIcon Icon="@Icons.TwoTone.Circle"/>  Bank Account Types
				</NavLink>
				<NavLink class="nav-link" href="incometypespage">
					<MudIcon Icon="@Icons.TwoTone.Circle"/>  Income Types
				</NavLink>
				<NavLink class="nav-link" href="expensetypespage">
					<MudIcon Icon="@Icons.TwoTone.Circle"/>  Expense Types
				</NavLink>
				<NavLink class="nav-link" href="expensecategoriespage">
					<MudIcon Icon="@Icons.TwoTone.Circle" />  Expense Categories
				</NavLink>
				<NavLink class="nav-link" href="paymentfrequencytypespage">
					<MudIcon Icon="@Icons.TwoTone.Circle" />  Payment Frequencies
				</NavLink>
			}
		</div>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}

	private bool expandIncomesNav;
	private bool expandExpensesNav;
	private bool expandSubNav;
}
