@page "/expensehistorypage"
@using MyBudget.Models
@using MyBudget.Services
@using MyBudget.Helpers
@using System.Globalization
@using MyBudget.Components
@inject IHistoryService<ExpenseHistory> expenseHistoryService
@inject IService<ExpenseCategories> expenseCategoryService

<h3 style="text-align:center">Expense History</h3>

@if (expenseHistoryList == null)
{
	@*<div class="spinner-border text-danger" role="status">
		<span class="sr-only">Loading...</span>
	</div>*@
	<div class="mybudgetloader"></div>
}
else
{
	<MudTable Items="@ExpenseHistoryItems" Striped="true" class="table-styles" Dense="true" Filter="new Func<ExpenseHistory, bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
		<ToolBarContent>
			<MudDatePicker Label="Month-Year Selector" @bind-Date="_yearMonth" OpenTo="OpenTo.Year" FixDay="1" DateFormat="MM/yyyy" />
			@if (_yearMonth != null)
			{
				<MudIcon Icon="@Icons.TwoTone.Search" Title="Search" Color="Color.Primary" class="date-search-button" @onclick="SearchByDateFilter"/>
				<MudIcon Icon="@Icons.TwoTone.Cancel" Title="Clear" Color="Color.Warning" class="date-search-button" @onclick="ClearDateFilter"/>
			}
			<MudSpacer />
			<MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
		</ToolBarContent>
		<HeaderContent>
			<MudTh Style="display:none;">Expense History Id</MudTh>
			<MudTh><MudTableSortLabel SortBy="new Func<ExpenseHistory, object>(x=>x.ExpenseName)">Expense Name</MudTableSortLabel></MudTh>
			<MudTh>Amount Paid</MudTh>
			<MudTh><MudTableSortLabel InitialDirection="SortDirection.Descending" SortBy="new Func<ExpenseHistory, object>(x=>x.ExpenseDate)">Date Paid</MudTableSortLabel></MudTh>
			<MudTh><MudTableSortLabel SortBy="new Func<ExpenseHistory, object>(x=>x.ExpenseCategoryId)">Expense Category</MudTableSortLabel></MudTh>
			<MudTh></MudTh>
		</HeaderContent>
		<RowTemplate>
			<MudTd DataLabel="Expense History Id" Style="display:none;">@context.ExpenseHistoryId</MudTd>
			<MudTd DataLabel="Expense Name">@context.ExpenseName</MudTd>
			<MudTd DataLabel="Amount Paid">@context.AmountPaid.ToString("C2", CultureInfo.CurrentCulture)</MudTd>
			<MudTd DataLabel="Date Paid">@context.ExpenseDate.ToShortDateString()</MudTd>
			<MudTd DataLabel="Expense Category">@GetExpenseCategoryName(context.ExpenseCategoryId, expenseCategoryList)</MudTd>
			<MudTd>
				<MudIcon Icon="@Icons.TwoTone.Edit" Title="Edit" @onclick="(() => EditRecord(context))" class="mud-table-button" Color="Color.Info" />
				<MudIcon Icon="@Icons.TwoTone.Delete" Title="Delete" @onclick="(() => DeleteConfirm(context))" class="mud-table-button" Color="Color.Error" />
			</MudTd>
		</RowTemplate>
		<PagerContent>
			<MudTablePager />
		</PagerContent>
	</MudTable>

	<div id="add-button">
		<MudButton Variant="Variant.Filled" Color="Color.Success" @onclick="AddNewRecord">
			Add New Expense History
		</MudButton>
		<LinkButton _href="/expensehistoryaddmultiple" _text="Add Multiple Expense Histories"></LinkButton>
	</div>

	@if (ShowPopup)
	{
		<div class="modal" tabindex="1" style="display:block" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title">Edit Expense History</h3>
						<!-- Button to close the popup -->
						<button type="button" class="close"
						@onclick="ClosePopup">
							<span aria-hidden="true">X</span>
						</button>
					</div>
					<!-- Edit form for current expense history -->
					<div class="modal-body">
						<label for="expensehistoryid">Expense History Id: </label>
						<input class="form-control" type="number" disabled="disabled"
						@bind="expenseHistory.ExpenseHistoryId" id="expensehistoryid" />
						<label for="expensehistoryname">Expense History Name: </label>
						<input class="form-control" type="text"
						placeholder="Expense History Name"
						@bind="expenseHistory.ExpenseName" id="expensehistoryname" />
						<label for="amountpaid">Amount Paid: </label>
						<input class="form-control" type="number"
						placeholder="Amount Paid"
						@bind="expenseHistory.AmountPaid" id="amountpaid" min="0" />
						<label for="expensedate">Expense Date:</label>
						<input class="form-control" type="date"
						placeholder="Expense Date"
						@bind="expenseHistory.ExpenseDate" id="expensedate" />

						<label for="expensecategory">Expense Category: </label>
						<select class="form-select" title="Expense Category" @bind="expenseHistory.ExpenseCategoryId" id="expensecategory">
							<option value="Select" disabled="disabled">Chose Expense Category</option>
							@foreach (var expenseCategory in expenseCategoryList)
							{
								<option value="@expenseCategory.ExpenseCategoryId">@expenseCategory.ExpenseCategoryName</option>
							}
						</select>

						<br />
						<!-- Button to save the expense history -->
						<button class="btn btn-success"
						@onclick="SaveRecord">
							Save
						</button>&nbsp;
						<!-- Only show delete button if not a new record -->
						@if (expenseHistory.ExpenseHistoryId > 0)
						{
							<!-- Button to delete the expense history -->
							<button class="btn btn-danger"
						@onclick="() => DeleteConfirm(expenseHistory)">
								Delete
							</button>
						}
					</div>
				</div>
			</div>
		</div>
	}
}

@code {

	bool ShowPopup = false;
	List<ExpenseHistory> expenseHistoryList = new();
	List<ExpenseCategories> expenseCategoryList = new();
	ExpenseHistory expenseHistory = new();

	private string searchString1 = "";
	private ExpenseHistory selectedItem1 = null;
	private HashSet<ExpenseHistory> selectedItems = new();
	private IEnumerable<ExpenseHistory> ExpenseHistoryItems = new List<ExpenseHistory>();

	DateTime? _yearMonth;

	[Inject] IDialogService DialogService { get; set; }
	[Inject] ISnackbar Snackbar { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await LoadData();
	}

	async Task LoadData()
	{
		expenseHistoryList = await expenseHistoryService.GetList();
		ExpenseHistoryItems = expenseHistoryList;
		expenseCategoryList = await expenseCategoryService.GetList();
	}

	void ClosePopup()
	{
		ShowPopup = false;
	}

	void AddNewRecord()
	{
		expenseHistory = new()
		{
			ExpenseHistoryId = 0,
			ExpenseDate = DateTime.Today.Date,
		};
		ShowPopup = true;
	}

	void EditRecord(ExpenseHistory expenseHistoryToEdit)
	{
		expenseHistory = expenseHistoryToEdit;
		ShowPopup = true;
	}

	async Task SaveRecord()
	{
		ShowPopup = false;

		try
		{
			if (expenseHistory.ExpenseHistoryId == 0)
			{
				ExpenseHistory newExpenseHistory = new()
				{
					ExpenseName = expenseHistory.ExpenseName,
					AmountPaid = expenseHistory.AmountPaid,
					ExpenseDate = expenseHistory.ExpenseDate,
					ExpenseCategoryId = expenseHistory.ExpenseCategoryId
				};

				var createdExpenseHistory = await expenseHistoryService.CreateRecord(newExpenseHistory);
				CreateResultProcessor(createdExpenseHistory);
			}
			else
			{
				var updatedRecord = await expenseHistoryService.UpdateRecord(expenseHistory);
				UpdateResultProcessor(updatedRecord);
			}
		}
		catch (Exception e)
		{
			CatchErrorMessage(e);
		}
	}

	async Task DeleteConfirm(ExpenseHistory expenseHistory)
	{
		bool? confirmed = await DialogService.ShowMessageBox(
			"Warning", $"Permanently Delete {expenseHistory.ExpenseName} : {expenseHistory.ExpenseDate.ToShortDateString()}?",
			yesText: "Delete", cancelText: "Cancel");

		if (confirmed == true) { await DeleteRecord(expenseHistory); }
	}

	async Task DeleteRecord(ExpenseHistory expenseHistory)
	{
		ShowPopup = false;

		try
		{
			var deletedExpenseHistory = await expenseHistoryService.DeleteRecord(expenseHistory);
			DeleteResultProcessor(deletedExpenseHistory);
		}
		catch (Exception e)
		{
			CatchErrorMessage(e);
		}
	}

	// CRUD help methods

	void ProcessingErrorMessage() { Snackbar.Add("Error processing record, please try again", Severity.Error); }
	void CatchErrorMessage(Exception e) { Snackbar.Add($"{e.Message}", Severity.Error); }

	void CreateResultProcessor(ExpenseHistory history)
	{
		switch (history.ExpenseHistoryId)
		{
			case 0:
				ProcessingErrorMessage();
				break;
			default:
				expenseHistoryList.Add(history);
				ExpenseHistoryItems = expenseHistoryList;
				Snackbar.Add("Expense History Added", Severity.Success);
				break;
		}
	}

	async void UpdateResultProcessor(ExpenseHistory history)
	{
		if (history.ExpenseHistoryId == 0)
		{
			ProcessingErrorMessage();
			await LoadData();
		}
	}

	void DeleteResultProcessor(ExpenseHistory history)
	{
		switch (history.ExpenseHistoryId)
		{
			case 0:
				ProcessingErrorMessage();
				break;
			default:
				expenseHistoryList.Remove(history);
				ExpenseHistoryItems = expenseHistoryList;
				Snackbar.Add("Expense History Deleted", Severity.Success);
				break;
		}
	}

	// Helper Methods

	string GetExpenseCategoryName(int id, List<ExpenseCategories> expenseCategoriesList)
	{
		return ItemFromList.GetExpenseCategoryName(id, expenseCategoriesList);
	}

	// Search methods

	private bool FilterFunc1(ExpenseHistory exh) => FilterFunc(exh, searchString1);

	private bool FilterFunc(ExpenseHistory exh, string searchString)
	{
		if (string.IsNullOrWhiteSpace(searchString))
			return true;
		if (exh.ExpenseName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		if ($"{exh.AmountPaid}".Contains(searchString))
			return true;
		if ($"{exh.ExpenseDate.ToShortDateString()}".Contains(searchString))
			return true;
		if ($"{exh.ExpenseCategoryId}".Contains(searchString))
			return true;
		return false;
	}

	// Date Filter Functions

	void SearchByDateFilter()
	{
		if (_yearMonth == null)
			return;

		ExpenseHistoryItems = expenseHistoryList;

		int month = _yearMonth.Value.Month;
		int year = _yearMonth.Value.Year;

		ExpenseHistoryItems = ExpenseHistoryItems.ToList()
								.Where(i => i.ExpenseDate.Month == month)
								.Where(i => i.ExpenseDate.Year == year);
	}

	void ClearDateFilter()
	{
		_yearMonth = null;
		ExpenseHistoryItems = expenseHistoryList;
	}
}
