@page "/expensecategoriespage"
@using MyBudget.Services
@using MyBudget.Models
@inject IService<ExpenseCategories> expenseCategoriesService
@inject IJSRuntime jsRuntime

<h3 style="text-align:center">Expense Categories</h3>
<p style="color:red">@Error</p>

@if (expenseCategoriesList == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<MudTable Items="@ExpenseCategoryItems" Striped="true" id="table-styles" Filter="new Func<ExpenseCategories,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
		<ToolBarContent>
			<MudText Typo="Typo.h6">Expense Categories</MudText>
			<MudSpacer />
			<MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
		</ToolBarContent>
		<HeaderContent>
			<MudTh>Expense Category Id</MudTh>
			<MudTh>Expense Category Name</MudTh>
			<MudTh>Expense Category Desc</MudTh>
		</HeaderContent>
		<RowTemplate>
			<MudTd DataLabel="Expense Category Id">@context.ExpenseCategoryId</MudTd>
			<MudTd DataLabel="Expense Category Name">@context.ExpenseCategoryName</MudTd>
			<MudTd DataLabel="Expense Category Desc">@context.ExpenseCategoryDescription</MudTd>
		</RowTemplate>
		<PagerContent>
			<MudTablePager />
		</PagerContent>
	</MudTable>

	<div id="add-button">
		<MudButton Variant="Variant.Filled" Color="Color.Success" @onclick="AddNewRecord">
			Add new expense category
		</MudButton>
	</div>
}

@code {

	string Error = "";
	bool ShowPopup = false;
	List<ExpenseCategories> expenseCategoriesList = new();
	ExpenseCategories expenseCategory = new();
	private string searchString1 = "";
	private ExpenseCategories selectedItem1 = null;
	private HashSet<ExpenseCategories> selectedItems = new();
	private IEnumerable<ExpenseCategories> ExpenseCategoryItems = new List<ExpenseCategories>();

	protected override async Task OnInitializedAsync()
	{
		ExpenseCategoryItems = await expenseCategoriesService.GetList();
	}

	void ClosePopup()
	{
		ShowPopup = false;
	}

	void AddNewRecord()
	{
		expenseCategory = new();
		expenseCategory.ExpenseCategoryId = 0;
		ShowPopup = true;
	}

	void EditRecord(ExpenseCategories editExpenseCategory)
	{
		expenseCategory = editExpenseCategory;
		ShowPopup = true;
	}

	void SaveRecord()
	{
	}

	async Task DeleteConfirm()
	{
		bool confirmed = await jsRuntime.InvokeAsync<bool>("confirm", "Delete Record?");
		if (confirmed) { await DeleteRecord(); }
	}

	async Task DeleteRecord()
	{
	}

	// Search Functions

	private bool FilterFunc1(ExpenseCategories exc) => FilterFunc(exc, searchString1);

	private bool FilterFunc(ExpenseCategories exc, string searchString)
	{
		if (string.IsNullOrWhiteSpace(searchString))
			return true;
		if (exc.ExpenseCategoryName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		if ($"{exc.ExpenseCategoryDescription}".Contains(searchString))
			return true;
		return false;
	}
}
