@page "/incometypespage"
@using MyBudget.Services
@using MyBudget.Models
@using MyBudget.Components
@inject ITypeService<IncomeTypes> incomeTypeService

<h3 style="text-align:center">Income Types</h3>

@if (incomeTypesList == null)
{
	<MyBudgetLoadingIndicator />
}
else
{
	<MudTable Items="@IncomeTypeItems" Striped="true" class="table-styles" Dense="true" Filter="new Func<IncomeTypes, bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
		<ToolBarContent>
			<MudText Typo="Typo.h6">Income Type</MudText>
			<MudSpacer />
			<MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
		</ToolBarContent>
		<HeaderContent>
			<MudTh>Income Type Id</MudTh>
			<MudTh>Income Type</MudTh>
			<MudTh></MudTh>
		</HeaderContent>
		<RowTemplate>
			<MudTd DataLabel="Income Type Id">@context.IncomeTypeId</MudTd>
			<MudTd DataLabel="Income Type">@context.IncomeType</MudTd>
			<MudTd>
				<MudIcon Icon="@Icons.TwoTone.Edit" Title="Edit" @onclick="(() => EditRecord(context))" class="mud-table-button" Color="Color.Info" />
				<MudIcon Icon="@Icons.TwoTone.Delete" Title="Delete" @onclick="(() => DeleteConfirm(context))" class="mud-table-button" Color="Color.Error" />
			</MudTd>
		</RowTemplate>
		<PagerContent>
			<MudTablePager />
		</PagerContent>
	</MudTable>

	<div id="add-button">
		<MudButton Variant="Variant.Filled" Color="Color.Success" @onclick="AddNewRecord">
			Add New Income Type
		</MudButton>
	</div>

	@if (ShowPopup)
	{
		<div class="modal" tabindex="-1" style="display:block" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title">Edit Income Type</h3>
						<!-- Button to close the popup -->
						<button type="button" class="close"
						@onclick="ClosePopup">
							<span aria-hidden="true">X</span>
						</button>
					</div>
					<!-- Edit form for the current income type -->
					<div class="modal-body">
						<input class="form-control" type="number" disabled="disabled"
					   @bind="incomeType.IncomeTypeId" />
						<input class="form-control" type="text"
					   placeholder="New Type"
					   @bind="incomeType.IncomeType" />
						<br />
						<!-- Button to save the income type -->
						<button class="btn btn-success"
						@onclick="SaveRecord">
							Save
						</button>&nbsp;
						<!-- Only show delete button if not a new record -->
						@if (incomeType.IncomeTypeId > 0)
						{
							<!-- Button to delete the income type -->
							<button class="btn btn-danger"
						@onclick="() => DeleteConfirm(incomeType)">
								Delete
							</button>
						}
					</div>
				</div>
			</div>
		</div>
	}
}

@code {
	List<IncomeTypes> incomeTypesList;
	IncomeTypes incomeType = new();
	bool ShowPopup = false;

	private string searchString1 = "";
	private IncomeTypes selectedItem1 = null;
	private HashSet<IncomeTypes> selectedItems = new();
	private IEnumerable<IncomeTypes> IncomeTypeItems = new List<IncomeTypes>();

	[Inject] IDialogService DialogService { get; set; }
	[Inject] ISnackbar Snackbar { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await LoadData();
	}

	async Task LoadData()
	{
		incomeTypesList = await incomeTypeService.GetList();
		IncomeTypeItems = incomeTypesList;
	}

	void ClosePopup()
	{
		ShowPopup = false;
	}

	void AddNewRecord()
	{
		incomeType = new IncomeTypes();
		incomeType.IncomeTypeId = 0;
		ShowPopup = true;
	}

	void EditRecord(IncomeTypes type)
	{
		incomeType = type;
		ShowPopup = true;
	}

	async Task SaveRecord()
	{
		ShowPopup = false;

		try
		{
			if (incomeType.IncomeTypeId == 0)
			{
				IncomeTypes newIncomeType = new()
				{
					IncomeType = incomeType.IncomeType
				};

				var createdIncomeType = await incomeTypeService.CreateRecord(newIncomeType);
				CreateResultProcessor(createdIncomeType);
			}
			else
			{
				var updatedRecord = await incomeTypeService.UpdateRecord(incomeType);
				UpdateResultProcessor(updatedRecord);
			}
		}
		catch (Exception e)
		{
			CatchErrorMessage(e);
		}
	}

	async Task DeleteConfirm(IncomeTypes type)
	{
		bool? confirmed = await DialogService.ShowMessageBox(
			"Warning", $"Permanently Delete {type.IncomeType}?",
			yesText: "Delete", cancelText: "Cancel");

		if (confirmed == true) { await DeleteRecord(type); }
	}

	async Task DeleteRecord(IncomeTypes type)
	{
		ShowPopup = false;

		try
		{
			var deleteIncomeTypeResult = await incomeTypeService.DeleteRecord(type);
			DeleteResultProcessor(deleteIncomeTypeResult);
		}
		catch (Exception e)
		{
			CatchErrorMessage(e);
		}
	}

	// CRUD help methods

	void ProcessingErrorMessage() { Snackbar.Add("Error processing record, please try again", Severity.Error); }
	void DuplicateNameMessage() { Snackbar.Add("Duplicate Income type name, please try again", Severity.Error); }
	void TypeInUseMessage() { Snackbar.Add("Income Type in use by 1 or more incomes", Severity.Error); }
	void CatchErrorMessage(Exception e) { Snackbar.Add($"{e.Message}", Severity.Error); }

	void CreateResultProcessor(IncomeTypes type)
	{
		switch (type.IncomeTypeId)
		{
			case 0:
				ProcessingErrorMessage();
				break;
			case -1:
				DuplicateNameMessage();
				break;
			default:
				incomeTypesList.Add(type);
				IncomeTypeItems = incomeTypesList;
				Snackbar.Add("Income Type Added", Severity.Success);
				break;
		}
	}

	async void UpdateResultProcessor(IncomeTypes type)
	{
		if (type.IncomeTypeId == -1)
		{
			DuplicateNameMessage();
			await LoadData();
			return;
		}
		if (type.IncomeTypeId == 0)
		{
			ProcessingErrorMessage();
			await LoadData();
		}
	}

	void DeleteResultProcessor(IncomeTypes type)
	{
		switch (type.IncomeTypeId)
		{
			case 0:
				ProcessingErrorMessage();
				break;
			case -1:
				TypeInUseMessage();
				break;
			default:
				incomeTypesList.Remove(type);
				IncomeTypeItems = incomeTypesList;
				Snackbar.Add("Income Type Deleted", Severity.Success);
				break;
		}
	}

	// Search methods

	private bool FilterFunc1(IncomeTypes type) => FilterFunc(type, searchString1);

	private bool FilterFunc(IncomeTypes type, string searchString)
	{
		if (string.IsNullOrWhiteSpace(searchString))
			return true;
		if (type.IncomeType.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		return false;
	}
}
