@page "/paymentfrequencytypespage"
@using MyBudget.Services
@using MyBudget.Models
@using MyBudget.Components
@inject ITypeService<PaymentFrequencyTypes> paymentFrequencyTypeService

<h3 style="text-align:center">Payment Frequency Types</h3>

@if (paymentFrequencyTypesList == null)
{
	<MyBudgetLoadingIndicator />
}
else
{
	<MudTable Items="@PaymentFrequencyTypeItems" Striped="true" class="table-styles" Dense="true" Filter="new Func<PaymentFrequencyTypes, bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
		<ToolBarContent>
			<MudText Typo="Typo.h6">Payment Frequency Type</MudText>
			<MudSpacer />
			<MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
		</ToolBarContent>
		<HeaderContent>
			<MudTh>Payment Frequency Type Id</MudTh>
			<MudTh>Payment Frequency Type</MudTh>
			<MudTh></MudTh>
		</HeaderContent>
		<RowTemplate>
			<MudTd DataLabel="Payment Frequency Type Id">@context.PaymentFrequencyTypeId</MudTd>
			<MudTd DataLabel="Payment Frequency Type">@context.PaymentFrequencyType</MudTd>
			<MudTd>
				<MudIcon Icon="@Icons.TwoTone.Edit" Title="Edit" @onclick="(() => EditRecord(context))" class="mud-table-button" Color="Color.Info" />
				<MudIcon Icon="@Icons.TwoTone.Delete" Title="Delete" @onclick="(() => DeleteConfirm(context))" class="mud-table-button" Color="Color.Error" />
			</MudTd>
		</RowTemplate>
		<PagerContent>
			<MudTablePager />
		</PagerContent>
	</MudTable>

	<div id="add-button">
		<MudButton Variant="Variant.Filled" Color="Color.Success" @onclick="AddNewType">
			Add new Payment Frequency Type
		</MudButton>
	</div>

	@if (ShowPopup)
	{
		<div class="modal" tabindex="-1" style="display:block" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Edit Payment Frequency Type</h3>
                        <!-- Button to close the popup -->
                        <button type="button" class="close"
                        @onclick="ClosePopup">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <!-- Edit form for the current payment frequency type -->
                    <div class="modal-body">
                        <input class="form-control" type="number" disabled="disabled"
                       @bind="paymentFrequencyType.PaymentFrequencyTypeId" />
                        <input class="form-control" type="text"
                       placeholder="New Type"
                       @bind="paymentFrequencyType.PaymentFrequencyType" />
                        <br />
						<!-- Button to save the payment frequency type -->
                        <button class="btn btn-success"
                        @onclick="SaveRecord">
                            Save
                        </button>&nbsp;
                        <!-- Only show delete button if not a new record -->
                        @if (paymentFrequencyType.PaymentFrequencyTypeId > 0)
                        {
							<!-- Button to delete the payment frequency type -->
                            <button class="btn btn-danger"
                        @onclick="() => DeleteConfirm(paymentFrequencyType)">
                                Delete
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div>
	}
}

@code 
{
	List<PaymentFrequencyTypes> paymentFrequencyTypesList;
	PaymentFrequencyTypes paymentFrequencyType = new PaymentFrequencyTypes();
	bool ShowPopup = false;

	private string searchString1 = "";
	private PaymentFrequencyTypes selectedItem1 = null;
	private HashSet<PaymentFrequencyTypes> selectedItems = new();
	private IEnumerable<PaymentFrequencyTypes> PaymentFrequencyTypeItems = new List<PaymentFrequencyTypes>();

	[Inject] IDialogService DialogService { get; set; }
	[Inject] ISnackbar Snackbar { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await LoadData();
	}

	async Task LoadData()
	{
		paymentFrequencyTypesList = await paymentFrequencyTypeService.GetList();
		PaymentFrequencyTypeItems = paymentFrequencyTypesList;
	}

	void ClosePopup()
	{
		ShowPopup = false;
	}

	void AddNewType()
	{
		paymentFrequencyType = new PaymentFrequencyTypes();
		paymentFrequencyType.PaymentFrequencyTypeId = 0;
		ShowPopup = true;
	}

	void EditRecord(PaymentFrequencyTypes type)
	{
		paymentFrequencyType = type;
		ShowPopup = true;
	}

	async Task SaveRecord()
	{
		ShowPopup = false;

		try
		{
			if (paymentFrequencyType.PaymentFrequencyTypeId == 0)
			{
				PaymentFrequencyTypes newPaymentFrequency = new()
				{
					PaymentFrequencyType = paymentFrequencyType.PaymentFrequencyType
				};

				var createdPaymentFrequencyType = await paymentFrequencyTypeService.CreateRecord(newPaymentFrequency);
				CreateResultProcessor(createdPaymentFrequencyType);
			}
			else
			{
				var updatedRecord = await paymentFrequencyTypeService.UpdateRecord(paymentFrequencyType);
				UpdateResultProcessor(updatedRecord);
			}
		}
		catch (Exception e)
		{
			CatchErrorMessage(e);
		}
	}

	async Task DeleteConfirm(PaymentFrequencyTypes type)
	{
		bool? confirmed = await DialogService.ShowMessageBox(
			"Warning", $"Permanently Delete {type.PaymentFrequencyType}?",
			yesText: "Delete", cancelText: "Cancel");

		if (confirmed == true) { await DeleteRecord(type); }
	}

	async Task DeleteRecord(PaymentFrequencyTypes type)
	{
		ShowPopup = false;

		try
		{
			var deletePaymentFrequencyType = await paymentFrequencyTypeService.DeleteRecord(type);
			DeleteResultProcessor(deletePaymentFrequencyType);
		}
		catch (Exception e)
		{
			CatchErrorMessage(e);
		}
	}

	// CRUD help methods

	void ProcessingErrorMessage() { Snackbar.Add("Error processing record, please try again", Severity.Error); }
	void DuplicateNameMessage() { Snackbar.Add("Duplicate Payment Frequency Type name, please try again", Severity.Error); }
	void TypeInUseMessage() { Snackbar.Add("Payment Frequency Type in use by 1 or more incomes or expenses", Severity.Error); }
	void CatchErrorMessage(Exception e) { Snackbar.Add($"{e.Message}", Severity.Error); }

	void CreateResultProcessor(PaymentFrequencyTypes type)
	{
		switch (type.PaymentFrequencyTypeId)
		{
			case 0:
				ProcessingErrorMessage();
				break;
			case -1:
				DuplicateNameMessage();
				break;
			default:
				paymentFrequencyTypesList.Add(type);
				PaymentFrequencyTypeItems = paymentFrequencyTypesList;
				Snackbar.Add("Payment Frequency Type Added", Severity.Success);
				break;
		}
	}

	async void UpdateResultProcessor(PaymentFrequencyTypes type)
	{
		if (type.PaymentFrequencyTypeId == -1)
		{
			DuplicateNameMessage();
			await LoadData();
			return;
		}
		if (type.PaymentFrequencyTypeId == 0)
		{
			ProcessingErrorMessage();
			await LoadData();
		}
	}

	void DeleteResultProcessor(PaymentFrequencyTypes type)
	{
		switch (type.PaymentFrequencyTypeId)
		{
			case 0:
				ProcessingErrorMessage();
				break;
			case -1:
				TypeInUseMessage();
				break;
			default:
				paymentFrequencyTypesList.Remove(type);
				PaymentFrequencyTypeItems = paymentFrequencyTypesList;
				Snackbar.Add("Payment Frequency Type Deleted", Severity.Success);
				break;
		}
	}

	// Search Functions

	private bool FilterFunc1(PaymentFrequencyTypes type) => FilterFunc(type, searchString1);

	private bool FilterFunc(PaymentFrequencyTypes type, string searchString)
	{
		if (string.IsNullOrWhiteSpace(searchString))
			return true;
		if (type.PaymentFrequencyType.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		return false;
	}
}
